In [47]:
import requests
import html5lib
import pandas as pd
from bs4 import BeautifulSoup
import os
import json
import numpy as np
import datetime

In [48]:
# This is the base URL to get links to unstyled pages with the tables of data
base_url = "https://www.letour.fr"
# The DOM codes the results as such
tab_dict = {'ite':'Stage',
'itg':'General Classification'}
# Or for easy iterating.
short_list = ['ite','itg']

In [49]:
# stages = np.arange(1,2) #We can change the range to 1,22 to get all 21 stages. Testing 1 for now.
stages = [6]

In [50]:
# This cell scrapes the page for stage 1 and extracts a list of raw URLs coded with the classification code
# Scraping with requests and Beautiful Soup for the correct div.

def scrape_pages(stage_id):

    links_list = []

    for item in stages:
 
        start_url = f"{base_url}/en/rankings/stage-{item}" #URL to stage)

        page = requests.get(start_url)

        if page.status_code == 200:
            content = page.content
            soup = BeautifulSoup(content, "html5lib")

        #Pull out a specific block of code with two sets of coded URLs from the soup.
            try:
                all_links = soup.find_all(class_="tabs__link js-tabs-ranking")
                links_list.append(all_links)
            except ElementDoesNotExist as e:
                print(f"That does not appear to be a valid results URL. {e}")

    # Parsing out the list of json-ish links from the DOM into a dictionary of functional URLs

    url_dict = {}

    for item in all_links:
        myurl = item['data-ajax-stack']
        #clean up the code into a useable URL
        myurl = myurl.replace('\/', '/')
        myurls = json.loads(myurl)
        for key, value in myurls.items():
            url_dict[key] = f"{base_url}{value}"

    # TODO loop through each stage and get the results. For now just look at a single stage, not any more or other results

    for key, value in url_dict.items():
        try:
            if key == 'ite':
                get_results(value, 1, stage_id)
            elif key == 'itg':
                get_results(value, 2, stage_id)
        except KeyError:
            pass

In [55]:
# Go to the link parsed out of the DOM and it is a plain URL page with a single, nested table
# table_list = [] #Not used here, we will have to append the data to a list or do a direct load to SQL database from here

def get_results(myurl, race_result_type_id, stage_id):

    try:
        table = pd.read_html(myurl)
        df = table[0] 
    except KeyError:
        pass
# put foreign keys into dataframe before insert into mySql
    print(stage_id, race_result_type_id)
    df["stage_id"] = stage_id
    df["race_result_type_id"] = race_result_type_id
    # Reformat the times
    df['Result'] = df['Times'].str.replace('h ', ':').str.replace('\'\'', '').str.replace('\' ',':')
# Calculate bonus/penalty in seconds
    for index, row in df.iterrows():
        if 'B' in row['B']:
            bonus = row['B']
            bonus= bonus.split(' : ')[1].replace("''",'')
            df.loc[index, 'rider_bonus'] = bonus
        elif 'P' in row['P']:
            bonus = row['P']
            seconds = bonus.replace('P : ','').replace("'",'').split(' ')[1]
            minutes = int(bonus.replace('P : ','').replace("'",'').split(' ')[0])*60
            bonus = minutes + int(seconds)
            df.loc[index, 'rider_bonus'] = int(bonus * -1)

# Calculate time in seconds
    for index, row in df.iterrows():
        if ':' in row['Result']:
            t = row['Result']
            h,m,s = t.split(':')
            df.loc[index, 'rider_time'] = int(datetime.timedelta(hours=int(h),minutes=int(m),seconds=int(s)).total_seconds())

# Remove extra columns
    df = df.drop(['Rider','Team','Gap', 'B', 'P','Times','Result'], axis=1)
# Rename columns to match
    df = df.rename({'Rank': 'ranking', 'Rider No.': 'rider_id'}, axis='columns')
    print(df.head())

In [56]:
scrape_pages(1)
# The result of this call will be pushed to the database

1 2
   ranking  rider_id  stage_id  race_result_type_id rider_bonus  rider_time
0        1        87         1                    2           2     81346.0
1        2         8         1                    2           3     81349.0
2        3        88         1                    2         NaN     81351.0
3        4       101         1                    2           3     81352.0
4        5       104         1                    2           6     81358.0
1 1
   ranking  rider_id  stage_id  race_result_type_id rider_bonus  rider_time
0        1        91         1                    1          10     15223.0
1        2        26         1                    1           6     15224.0
2        3        78         1                    1           4     15226.0
3        4       101         1                    1         NaN     15226.0
4        5       114         1                    1         NaN     15226.0

In [54]:
df.head()

   ranking  rider_id  stage_id  race_result_type_id rider_bonus  rider_time
0        1        91         6                    1          10     15223.0
1        2        26         6                    1           6     15224.0
2        3        78         6                    1           4     15226.0
3        4       101         6                    1         NaN     15226.0
4        5       114         6                    1         NaN     15226.0

In [20]:
# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [21]:
engine = create_engine("mysql://root:sorryquery13@localhost/letour_db")

In [22]:
data = engine.execute("SELECT * FROM race")

for record in data:
    print(record)

(1, 'Tour de France', 2018, 3351)