In [ ]:
#QUERY FOR THE BOX PLOT

In [47]:
from config import cuser, cpwd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func
from sqlalchemy.orm import Session
from flask import jsonify
import pandas as pd

In [48]:
engine = create_engine(f"mysql://{cuser}:{cpwd}@us-cdbr-iron-east-03.cleardb.net/heroku_0168f21124ffac7")
session = Session(engine)

In [49]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['race',
 'race_result_type',
 'race_results',
 'race_starters',
 'race_stages',
 'race_teams',
 'riders']

In [21]:
Results = Base.classes.race_results
Starters = Base.classes.race_starters
Stages = Base.classes.race_stages
Race = Base.classes.race

In [22]:
sel = [Results.stage_id, Results.ranking, Results.rider_speed, Starters.rider_name,\
       Stages.stage_type, Stages.stage_distance]

In [23]:
results = db.session.query(*sel).filter(Results.stage_id==Stages.stage_id)\
.filter(Results.rider_id==Starters.rider_id).filter(Results.race_result_type_id==1)\
.filter(Results.rider_speed.isnot(None)).order_by(Results.stage_id).all()

In [25]:
len(results)

3351

In [38]:
df = pd.DataFrame(results, columns=["stage","ranking","rider_speed","rider_name","stage_type","stage_distance"])

   stage  ranking  rider_speed          rider_name  stage_type  stage_distance
0      1        1      45.7627    Fernando Gaviria  Flat stage             201
1      1        2      45.7627         Peter Sagan  Flat stage             201
2      1        3      45.7627       Marcel Kittel  Flat stage             201
3      1        4      45.7627  Alexander Kristoff  Flat stage             201
4      1        5      45.7627  Christophe Laporte  Flat stage             201

In [45]:
# df.loc[df["stage"]==21]

In [41]:
data_output = {}
for record in results:
    data_output["stage_id"] = df["stage"].tolist()
    data_output["rider_rank"] = df["ranking"].tolist()
    data_output["rider_speed"] = df["rider_speed"].tolist()
    data_output["rider_name"] = df["rider_name"].tolist()
    data_output["stage_type"] = df["stage_type"].tolist()
    data_output["stage_length"] = df["stage_distance"].tolist()

In [46]:
sel = [Starters.rider_id, Starters.rider_name, Starters.rider_country, Stages.stage_type, Stages.stage_distance]

results = session.query(*sel).filter(Results.stage_id==Stages.stage_id)\
.filter(Results.rider_id==Starters.rider_id).filter(Results.race_result_type_id==1).order_by(Results.stage_id).all()

df = pd.DataFrame(results, columns=["stage","ranking","rider_speed","rider_name","stage_type","stage_distance"])
df.head()

In [ ]:
# SELECT rs.rider_id, rs.rider_name, rs.rider_country, c.lat, c.lon, rr.ranking, rr.rider_speed
# FROM race_starters rs
# LEFT JOIN country_coordinates c
# ON (rs.rider_country=c.rider_country)
# RIGHT JOIN race_results rr
# ON (rr.rider_id = rs.rider_id)
# WHERE rr.race_result_type_id=2
# AND rr.stage_id=21;