In [ ]:
#QUERY FOR THE BOX PLOT

In [18]:
from config import cuser, cpwd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func, and_
from sqlalchemy.orm import Session
from flask import jsonify
import pandas as pd

In [80]:
engine = create_engine(f"mysql://{cuser}:{cpwd}@us-cdbr-iron-east-03.cleardb.net/heroku_0168f21124ffac7")
session = Session(engine)

In [81]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['country',
 'race',
 'race_result_type',
 'race_results',
 'race_starters',
 'race_stages',
 'race_teams',
 'riders']

In [82]:
Results = Base.classes.race_results
Starters = Base.classes.race_starters
Stages = Base.classes.race_stages
Race = Base.classes.race
Country = Base.classes.country

In [22]:
sel = [Results.stage_id, Results.ranking, Results.rider_speed, Starters.rider_name,\
       Stages.stage_type, Stages.stage_distance]

In [23]:
results = db.session.query(*sel).filter(Results.stage_id==Stages.stage_id)\
.filter(Results.rider_id==Starters.rider_id).filter(Results.race_result_type_id==1)\
.filter(Results.rider_speed.isnot(None)).order_by(Results.stage_id).all()

In [25]:
len(results)

3351

In [38]:
df = pd.DataFrame(results, columns=["stage","ranking","rider_speed","rider_name","stage_type","stage_distance"])

   stage  ranking  rider_speed          rider_name  stage_type  stage_distance
0      1        1      45.7627    Fernando Gaviria  Flat stage             201
1      1        2      45.7627         Peter Sagan  Flat stage             201
2      1        3      45.7627       Marcel Kittel  Flat stage             201
3      1        4      45.7627  Alexander Kristoff  Flat stage             201
4      1        5      45.7627  Christophe Laporte  Flat stage             201

In [45]:
# df.loc[df["stage"]==21]

In [41]:
data_output = {}
for record in results:
    data_output["stage_id"] = df["stage"].tolist()
    data_output["rider_rank"] = df["ranking"].tolist()
    data_output["rider_speed"] = df["rider_speed"].tolist()
    data_output["rider_name"] = df["rider_name"].tolist()
    data_output["stage_type"] = df["stage_type"].tolist()
    data_output["stage_length"] = df["stage_distance"].tolist()

In [46]:
sel = [Starters.rider_id, Starters.rider_name, Starters.rider_country, Stages.stage_type, Stages.stage_distance]

results = session.query(*sel).filter(Results.stage_id==Stages.stage_id)\
.filter(Results.rider_id==Starters.rider_id).filter(Results.race_result_type_id==1).order_by(Results.stage_id).all()

df = pd.DataFrame(results, columns=["stage","ranking","rider_speed","rider_name","stage_type","stage_distance"])
df.head()

In [ ]:
# SELECT rs.rider_id, rs.rider_name, rs.rider_country, c.lat, c.lon, rr.ranking, rr.rider_speed
# FROM race_starters rs
# LEFT JOIN country_coordinates c
# ON (rs.rider_country=c.rider_country)
# RIGHT JOIN race_results rr
# ON (rr.rider_id = rs.rider_id)
# WHERE rr.race_result_type_id=2
# AND rr.stage_id=21;

In [59]:
#FOR THE COUNTRY MAP  
sel = [Starters.rider_id, Starters.rider_name, Starters.rider_country, Country.lat, Country.lon]

riders = session.query(*sel).filter(Starters.rider_country==Country.country).all()

df1 = pd.DataFrame(riders, columns=["rider_id","rider_name","rider_country","latitude","longitude"])
df1.head()

   rider_id            rider_name  rider_country     latitude     longitude
0         1          Chris Froome  Great Britain  53.71902810   -2.07278390
1         2           Egan Bernal       Colombia   4.57086800  -74.29733300
2         3  Jonathan Castroviejo          Spain  40.46366700   -3.74922000
3         4    Michal Kwiatkowski         Poland  51.91943800   19.14513600
4         5         Gianni Moscon          Italy  41.87194000   12.56738000

In [70]:
len(df1)

176

In [83]:
sel = [Starters.rider_id, Results.ranking, Results.rider_time]

results = session.query(*sel).join(Results, isouter=True)\
.filter(Results.race_result_type_id==2)\
.filter(Results.stage_id==21).all()

df2 = pd.DataFrame(results, columns=["rider_id","ranking","rider_time"])
df2.head()

   rider_id  ranking rider_time
0         8        1     299833
1        32        2     299944
2         1        3     299977
3       166        4     300035
4       161        5     300201

In [84]:
df3 = df1.merge(df2, how="left", on="rider_id")

In [85]:
df3.sort_values(by=["ranking"])

,rider_id,rider_name,rider_country,latitude,longitude,ranking,rider_time
7,8,Geraint Thomas,Great Britain,53.71902810,-2.07278390,1.0,299833
25,32,Tom Dumoulin,Netherlands,52.13263300,5.29126600,2.0,299944
0,1,Chris Froome,Great Britain,53.71902810,-2.07278390,3.0,299977
133,166,Primoz Roglic,Slovenia,46.15124100,14.99546300,4.0,300035
128,161,Steven Kruijswijk,Netherlands,52.13263300,5.29126600,5.0,300201
16,21,Romain Bardet,France,46.22763800,2.21374900,6.0,300250
60,75,Mikel Landa,Spain,40.46366700,-3.74922000,7.0,300290
72,91,Daniel Martin,Ireland,53.14236720,-7.69205360,8.0,300378
112,141,Ilnur Zakarin,Russia,61.52401000,105.31875600,9.0,300590
56,71,Nairo Quintana,Colombia,4.57086800,-74.29733300,10.0,300691
84,105,Bob Jungels,Luxembourg,49.81527300,6.12958300,11.0,300825
96,121,Jakob Fuglsang,Denmark,56.26392000,9.50178500,12.0,301019
21,26,Pierre Latour,France,46.22763800,2.21374900,13.0,301166
63,78,Alejandro Valverde,Spain,40.46366700,-3.74922000,14.0,301479
1,2,Egan Bernal,Colombia,4.57086800,-74.29733300,15.0,301505
100,125,Tanel Kangert,Estonia,58.59527200,25.01360710,16.0,301925
32,41,Warren Barguil,France,46.22763800,2.21374900,17.0,302059
47,58,Domenico Pozzovivo,Italy,41.87194000,12.56738000,18.0,302181
91,114,Rafal Majka,Poland,51.91943800,19.14513600,19.0,302230
66,83,Damiano Caruso,Italy,41.87194000,12.56738000,20.0,302384
168,211,Guillaume Martin,France,46.22763800,2.21374900,21.0,302491
44,55,Ion Izagirre,Spain,40.46366700,-3.74922000,22.0,302629
55,68,Mikel Nieve,Spain,40.46366700,-3.74922000,23.0,302792
43,54,Gorka Izagirre,Spain,40.46366700,-3.74922000,24.0,302835
27,34,Simon Geschke,Germany,51.16569100,10.45152600,25.0,302848
152,191,Bauke Mollema,Netherlands,52.13263300,5.29126600,26.0,303826
13,16,Pierre Rolland,France,46.22763800,2.21374900,27.0,303982
70,87,Greg Van Avermaet,Belgium,50.50388700,4.46993600,28.0,304047
48,61,Adam Yates,Great Britain,53.71902810,-2.07278390,29.0,304488
144,181,Lilian Calmejane,France,46.22763800,2.21374900,30.0,304522
...,...,...,...,...,...,...,...
8,11,Rigoberto Urán,Colombia,4.57086800,-74.29733300,NaN,NaN
18,23,Axel Domont,France,46.22763800,2.21374900,NaN,NaN
20,25,Tony Gallopin,France,46.22763800,2.21374900,NaN,NaN
23,28,Alexis Vuillermoz,France,46.22763800,2.21374900,NaN,NaN
24,31,Michael Matthews,Australia,-25.27439800,133.77513600,NaN,NaN
40,51,Vincenzo Nibali,Italy,41.87194000,12.56738000,NaN,NaN
53,66,Damien Howson,Australia,-25.27439800,133.77513600,NaN,NaN
61,76,José Joaquín Rojas,Spain,40.46366700,-3.74922000,NaN,NaN
64,81,Richie Porte,Australia,-25.27439800,133.77513600,NaN,NaN
65,82,Patrick Bevin,New Zealand,-40.90055700,174.88597100,NaN,NaN
81,102,Tim Declercq,Belgium,50.50388700,4.46993600,NaN,NaN
82,103,Fernando Gaviria,Colombia,4.57086800,-74.29733300,NaN,NaN
83,104,Philippe Gilbert,Belgium,50.50388700,4.46993600,NaN,NaN
98,123,Dmitriy Gruzdev,Kazakhstan,48.01957300,66.92368400,NaN,NaN
102,127,Luis León Sánchez,Spain,40.46366700,-3.74922000,NaN,NaN
104,131,Mark Cavendish,Great Britain,53.71902810,-2.07278390,NaN,NaN
107,134,Serge Pauwels,Belgium,50.50388700,4.46993600,NaN,NaN
108,135,Mark Renshaw,Australia,-25.27439800,133.77513600,NaN,NaN
114,143,Robert Kiserlovski,Croatia,45.10000000,15.20000010,NaN,NaN
115,144,Marcel Kittel,Germany,51.16569100,10.45152600,NaN,NaN
117,146,Tony Martin,Germany,51.16569100,10.45152600,NaN,NaN
119,148,Rick Zabel,Germany,51.16569100,10.45152600,NaN,NaN
130,163,Dylan Groenewegen,Netherlands,52.13263300,5.29126600,NaN,NaN
136,171,André Greipel,Germany,51.16569100,10.45152600,NaN,NaN
137,172,Tiesj Benoot,Belgium,50.50388700,4.46993600,NaN,NaN
140,175,Jens Keukeleire,Belgium,50.50388700,4.46993600,NaN,NaN
142,177,Marcel Sieberg,Germany,51.16569100,10.45152600,NaN,NaN
143,178,Jelle Vanendert,Belgium,50.50388700,4.46993600,NaN,NaN
151,188,Rein Taaramäe,Estonia,58.59527200,25.01360710,NaN,NaN
157,196,Tsgabu Grmay,Ethiopia,9.14500000,40.48967300,NaN,NaN

In [90]:
df3["overall_speed"] = 3351/df3["rider_time"].astype(float) * 3600

In [91]:
df3.head()

,rider_id,rider_name,rider_country,latitude,longitude,ranking,rider_time,overall_speed
0,1,Chris Froome,Great Britain,53.71902810,-2.07278390,3.0,299977,40.215083
1,2,Egan Bernal,Colombia,4.57086800,-74.29733300,15.0,301505,40.011277
2,3,Jonathan Castroviejo,Spain,40.46366700,-3.74922000,70.0,309199,39.015650
3,4,Michal Kwiatkowski,Poland,51.91943800,19.14513600,49.0,307362,39.248834
4,5,Gianni Moscon,Italy,41.87194000,12.56738000,NaN,NaN,NaN

In [92]:
data_output = {}
data_output["rider_id"] = df3["rider_id"].tolist()
data_output["rider_name"] = df3["rider_name"].tolist()
data_output["country"] = df3["rider_country"].tolist()
data_output["latitude"] = df3["latitude"].tolist()
data_output["longitude"] = df3["longitude"].tolist()
data_output["final_ranking"] = df3["ranking"].tolist()
data_output["overall_speed"] = df3["overall_speed"].tolist()

In [93]:
data_output

{'rider_id': [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  101,
  102,
  103,
  104,
  105,
  106,
  107,
  108,
  111,
  112,
  113,
  114,
  115,
  116,
  117,
  118,
  121,
  122,
  123,
  124,
  125,
  126,
  127,
  128,
  131,
  132,
  133,
  134,
  135,
  136,
  137,
  138,
  141,
  142,
  143,
  144,
  145,
  146,
  147,
  148,
  151,
  152,
  153,
  154,
  155,
  156,
  157,
  158,
  161,
  162,
  163,
  164,
  165,
  166,
  167,
  168,
  171,
  172,
  173,
  174,
  175,
  176,
  177,
  178,
  181,
  182,
  183,
  184,
  185,
  186,
  187,
  188,
  191,
  192,
  193,
  194,
  195,
  196,
  197,
  198,
  201,
  202,
  203,
  204,
  205,
  206,
  207,
  208,
  211,
  212,
  213,
  214,
  215,
  216,
  217,
  218],
 'rider_name': ['Chris Froome',
  'Egan Bernal',
  'Jonathan Castroviejo',
  'Michal Kwiatkowski',
  'Gianni Moscon',
  'Wout Poels',
  'Luke Rowe',
  'Geraint Thomas',
  'Rigoberto Urán',
  'Simon Clarke',
  'Lawson Craddock',
  'Daniel Felipe Martínez',
  'Taylor Phinney',
  'Pierre Rolland',
  'Tom Scully',
  'Sep Vanmarcke',
  'Romain Bardet',
  'Silvan Dillier',
  'Axel Domont',
  'Mathias Frank',
  'Tony Gallopin',
  'Pierre Latour',
  'Oliver Naesen',
  'Alexis Vuillermoz',
  'Michael Matthews',
  'Tom Dumoulin',
  'Nikias Arndt',
  'Simon Geschke',
  'Chad Haga',
  'Søren Kragh Andersen',
  'Laurens Ten Dam',
  'Edward Theuns',
  'Warren Barguil',
  'Maxime Bouet',
  'Élie Gesbert',
  'Romain Hardy',
  'Kevin Ledanois',
  'Amaël Moinard',
  'Laurent Pichon',
  'Florian Vachon',
  'Vincenzo Nibali',
  'Sonny Colbrelli',
  'Heinrich Haussler',
  'Gorka Izagirre',
  'Ion Izagirre',
  'Kristijan Koren',
  'Franco Pellizotti',
  'Domenico Pozzovivo',
  'Adam Yates',
  'Jack Bauer',
  'Luke Durbridge',
  'Mathew Hayman',
  'Michael Hepburn',
  'Damien Howson',
  'Daryl Impey',
  'Mikel Nieve',
  'Nairo Quintana',
  'Andrey Amador',
  'Daniele Bennati',
  'Imanol Erviti',
  'Mikel Landa',
  'José Joaquín Rojas',
  'Marc Soler',
  'Alejandro Valverde',
  'Richie Porte',
  'Patrick Bevin',
  'Damiano Caruso',
  'Simon Gerrans',
  'Stefan Küng',
  'Michael Schär',
  'Greg Van Avermaet',
  'Tejay Van Garderen',
  'Daniel Martin',
  'Darwin Atapuma',
  'Kristijan Ðurasek',
  'Roberto Ferrari',
  'Alexander Kristoff',
  'Marco Marcato',
  'Rory Sutherland',
  'Oliviero Troia',
  'Julian Alaphilippe',
  'Tim Declercq',
  'Fernando Gaviria',
  'Philippe Gilbert',
  'Bob Jungels',
  'Yves Lampaert',
  'Maximiliano Richeze',
  'Niki Terpstra',
  'Peter Sagan',
  'Maciej Bodnar',
  'Marcus Burghardt',
  'Rafal Majka',
  'Gregor Mühlberger',
  'Daniel Oss',
  'Pawel Poljanski',
  'Lukas Pöstlberger',
  'Jakob Fuglsang',
  'Omar Fraile',
  'Dmitriy Gruzdev',
  'Jesper Hansen',
  'Tanel Kangert',
  'Magnus Cort Nielsen',
  'Luis León Sánchez',
  'Michael Valgren',
  'Mark Cavendish',
  'Edvald Boasson Hagen',
  'Reinardt Janse Van Rensburg',
  'Serge Pauwels',
  'Mark Renshaw',
  'Tom-Jelte Slagter',
  'Jay Thomson',
  'Julien Vermote',
  'Ilnur Zakarin',
  'Ian Boswell',
  'Robert Kiserlovski',
  'Marcel Kittel',
  'Pavel Kochetkov',
  'Tony Martin',
  'Nils Politt',
  'Rick Zabel',
  'Arnaud Démare',
  'David Gaudu',
  'Jacopo Guarnieri',
  'Olivier Le Gac',
  'Tobias Ludvigsson',
  'Rudy Molard',
  'Ramon Sinkeldam',
  'Arthur Vichot',
  'Steven Kruijswijk',
  'Robert Gesink',
  'Dylan Groenewegen',
  'Amund Grøndahl Jansen ',
  'Paul Martens',
  'Primoz Roglic',
  'Timo Roosen',
  'Antwan Tolhoek',
  'André Greipel',
  'Tiesj Benoot',
  'Jasper De Buyst',
  'Thomas De Gendt',
  'Jens Keukeleire',
  'Tomasz Marczynski',
  'Marcel Sieberg',
  'Jelle Vanendert',
  'Lilian Calmejane',
  'Thomas Boudat',
  'Sylvain Chavanel',
  'Jérôme Cousin',
  'Damien Gaudin',
  'Fabien Grellier',
  'Romain Sicard',
  'Rein Taaramäe',
  'Bauke Mollema',
  'Julien Bernard',
  'Koen De Kort',
  'John Degenkolb',
  'Michael Gogl',
  'Tsgabu Grmay',
  'Toms Skujins',
  'Jasper Stuyven',
  'Christophe Laporte',
  'Dimitri Claeys',
  'Nicolas Edet',
  'Jesús Herrada',
  'Daniel Navarro',
  'Anthony Perez',
  'Julien Simon',
  'Anthony Turgis',
  'Guillaume Martin',
  'Thomas Degand',
  'Timothy Dupont',
  'Marco Minnaard',
  'Yoann Offredo',
  'Andrea Pasqualon',
  'Dion Smith',
  'Guillaume Van Keirsbulck'],
 'country': ['Great Britain',
  'Colombia',
  'Spain',
  'Poland',
  'Italy',
  'Netherlands',
  'Great Britain',
  'Great Britain',
  'Colombia',
  'Australia',
  'United States',
  'Colombia',
  'United States',
  'France',
  'New Zealand',
  'Belgium',
  'France',
  'Switzerland',
  'France',
  'Switzerland',
  'France',
  'France',
  'Belgium',
  'France',
  'Australia',
  'Netherlands',
  'Germany',
  'Germany',
  'United States',
  'Denmark',
  'Netherlands',
  'Belgium',
  'France',
  'France',
  'France',
  'France',
  'France',
  'France',
  'France',
  'France',
  'Italy',
  'Italy',
  'Australia',
  'Spain',
  'Spain',
  'Slovenia',
  'Italy',
  'Italy',
  'Great Britain',
  'New Zealand',
  'Australia',
  'Australia',
  'Australia',
  'Australia',
  'South Africa',
  'Spain',
  'Colombia',
  'Costa Rica',
  'Italy',
  'Spain',
  'Spain',
  'Spain',
  'Spain',
  'Spain',
  'Australia',
  'New Zealand',
  'Italy',
  'Australia',
  'Switzerland',
  'Switzerland',
  'Belgium',
  'United States',
  'Ireland',
  'Colombia',
  'Croatia',
  'Italy',
  'Norway',
  'Italy',
  'Australia',
  'Italy',
  'France',
  'Belgium',
  'Colombia',
  'Belgium',
  'Luxembourg',
  'Belgium',
  'Argentina',
  'Netherlands',
  'Slovakia',
  'Poland',
  'Germany',
  'Poland',
  'Austria',
  'Italy',
  'Poland',
  'Austria',
  'Denmark',
  'Spain',
  'Kazakhstan',
  'Denmark',
  'Estonia',
  'Denmark',
  'Spain',
  'Denmark',
  'Great Britain',
  'Norway',
  'South Africa',
  'Belgium',
  'Australia',
  'Netherlands',
  'South Africa',
  'Belgium',
  'Russia',
  'United States',
  'Croatia',
  'Germany',
  'Russia',
  'Germany',
  'Germany',
  'Germany',
  'France',
  'France',
  'Italy',
  'France',
  'Sweden',
  'France',
  'Netherlands',
  'France',
  'Netherlands',
  'Netherlands',
  'Netherlands',
  'Norway',
  'Germany',
  'Slovenia',
  'Netherlands',
  'Netherlands',
  'Germany',
  'Belgium',
  'Belgium',
  'Belgium',
  'Belgium',
  'Poland',
  'Germany',
  'Belgium',
  'France',
  'France',
  'France',
  'France',
  'France',
  'France',
  'France',
  'Estonia',
  'Netherlands',
  'France',
  'Netherlands',
  'Germany',
  'Austria',
  'Ethiopia',
  'Latvia',
  'Belgium',
  'France',
  'Belgium',
  'France',
  'Spain',
  'Spain',
  'France',
  'France',
  'France',
  'France',
  'Belgium',
  'Belgium',
  'Netherlands',
  'France',
  'Italy',
  'New Zealand',
  'Belgium'],
 'latitude': [Decimal('53.71902810'),
  Decimal('4.57086800'),
  Decimal('40.46366700'),
  Decimal('51.91943800'),
  Decimal('41.87194000'),
  Decimal('52.13263300'),
  Decimal('53.71902810'),
  Decimal('53.71902810'),
  Decimal('4.57086800'),
  Decimal('-25.27439800'),
  Decimal('37.09024000'),
  Decimal('4.57086800'),
  Decimal('37.09024000'),
  Decimal('46.22763800'),
  Decimal('-40.90055700'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('46.81818800'),
  Decimal('46.22763800'),
  Decimal('46.81818800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('-25.27439800'),
  Decimal('52.13263300'),
  Decimal('51.16569100'),
  Decimal('51.16569100'),
  Decimal('37.09024000'),
  Decimal('56.26392000'),
  Decimal('52.13263300'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('41.87194000'),
  Decimal('41.87194000'),
  Decimal('-25.27439800'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('46.15124100'),
  Decimal('41.87194000'),
  Decimal('41.87194000'),
  Decimal('53.71902810'),
  Decimal('-40.90055700'),
  Decimal('-25.27439800'),
  Decimal('-25.27439800'),
  Decimal('-25.27439800'),
  Decimal('-25.27439800'),
  Decimal('-30.55948200'),
  Decimal('40.46366700'),
  Decimal('4.57086800'),
  Decimal('9.74891700'),
  Decimal('41.87194000'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('-25.27439800'),
  Decimal('-40.90055700'),
  Decimal('41.87194000'),
  Decimal('-25.27439800'),
  Decimal('46.81818800'),
  Decimal('46.81818800'),
  Decimal('50.50388700'),
  Decimal('37.09024000'),
  Decimal('53.14236720'),
  Decimal('4.57086800'),
  Decimal('45.10000000'),
  Decimal('41.87194000'),
  Decimal('60.47202400'),
  Decimal('41.87194000'),
  Decimal('-25.27439800'),
  Decimal('41.87194000'),
  Decimal('46.22763800'),
  Decimal('50.50388700'),
  Decimal('4.57086800'),
  Decimal('50.50388700'),
  Decimal('49.81527300'),
  Decimal('50.50388700'),
  Decimal('-38.41609700'),
  Decimal('52.13263300'),
  Decimal('48.66902600'),
  Decimal('51.91943800'),
  Decimal('51.16569100'),
  Decimal('51.91943800'),
  Decimal('47.51623100'),
  Decimal('41.87194000'),
  Decimal('51.91943800'),
  Decimal('47.51623100'),
  Decimal('56.26392000'),
  Decimal('40.46366700'),
  Decimal('48.01957300'),
  Decimal('56.26392000'),
  Decimal('58.59527200'),
  Decimal('56.26392000'),
  Decimal('40.46366700'),
  Decimal('56.26392000'),
  Decimal('53.71902810'),
  Decimal('60.47202400'),
  Decimal('-30.55948200'),
  Decimal('50.50388700'),
  Decimal('-25.27439800'),
  Decimal('52.13263300'),
  Decimal('-30.55948200'),
  Decimal('50.50388700'),
  Decimal('61.52401000'),
  Decimal('37.09024000'),
  Decimal('45.10000000'),
  Decimal('51.16569100'),
  Decimal('61.52401000'),
  Decimal('51.16569100'),
  Decimal('51.16569100'),
  Decimal('51.16569100'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('41.87194000'),
  Decimal('46.22763800'),
  Decimal('60.12816100'),
  Decimal('46.22763800'),
  Decimal('52.13263300'),
  Decimal('46.22763800'),
  Decimal('52.13263300'),
  Decimal('52.13263300'),
  Decimal('52.13263300'),
  Decimal('60.47202400'),
  Decimal('51.16569100'),
  Decimal('46.15124100'),
  Decimal('52.13263300'),
  Decimal('52.13263300'),
  Decimal('51.16569100'),
  Decimal('50.50388700'),
  Decimal('50.50388700'),
  Decimal('50.50388700'),
  Decimal('50.50388700'),
  Decimal('51.91943800'),
  Decimal('51.16569100'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('58.59527200'),
  Decimal('52.13263300'),
  Decimal('46.22763800'),
  Decimal('52.13263300'),
  Decimal('51.16569100'),
  Decimal('47.51623100'),
  Decimal('9.14500000'),
  Decimal('56.87963500'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('50.50388700'),
  Decimal('46.22763800'),
  Decimal('40.46366700'),
  Decimal('40.46366700'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('46.22763800'),
  Decimal('50.50388700'),
  Decimal('50.50388700'),
  Decimal('52.13263300'),
  Decimal('46.22763800'),
  Decimal('41.87194000'),
  Decimal('-40.90055700'),
  Decimal('50.50388700')],
 'longitude': [Decimal('-2.07278390'),
  Decimal('-74.29733300'),
  Decimal('-3.74922000'),
  Decimal('19.14513600'),
  Decimal('12.56738000'),
  Decimal('5.29126600'),
  Decimal('-2.07278390'),
  Decimal('-2.07278390'),
  Decimal('-74.29733300'),
  Decimal('133.77513600'),
  Decimal('-95.71289100'),
  Decimal('-74.29733300'),
  Decimal('-95.71289100'),
  Decimal('2.21374900'),
  Decimal('174.88597100'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('8.22751200'),
  Decimal('2.21374900'),
  Decimal('8.22751200'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('133.77513600'),
  Decimal('5.29126600'),
  Decimal('10.45152600'),
  Decimal('10.45152600'),
  Decimal('-95.71289100'),
  Decimal('9.50178500'),
  Decimal('5.29126600'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('12.56738000'),
  Decimal('12.56738000'),
  Decimal('133.77513600'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('14.99546300'),
  Decimal('12.56738000'),
  Decimal('12.56738000'),
  Decimal('-2.07278390'),
  Decimal('174.88597100'),
  Decimal('133.77513600'),
  Decimal('133.77513600'),
  Decimal('133.77513600'),
  Decimal('133.77513600'),
  Decimal('22.93750600'),
  Decimal('-3.74922000'),
  Decimal('-74.29733300'),
  Decimal('-83.75342800'),
  Decimal('12.56738000'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('133.77513600'),
  Decimal('174.88597100'),
  Decimal('12.56738000'),
  Decimal('133.77513600'),
  Decimal('8.22751200'),
  Decimal('8.22751200'),
  Decimal('4.46993600'),
  Decimal('-95.71289100'),
  Decimal('-7.69205360'),
  Decimal('-74.29733300'),
  Decimal('15.20000010'),
  Decimal('12.56738000'),
  Decimal('8.46894600'),
  Decimal('12.56738000'),
  Decimal('133.77513600'),
  Decimal('12.56738000'),
  Decimal('2.21374900'),
  Decimal('4.46993600'),
  Decimal('-74.29733300'),
  Decimal('4.46993600'),
  Decimal('6.12958300'),
  Decimal('4.46993600'),
  Decimal('-63.61667200'),
  Decimal('5.29126600'),
  Decimal('19.69902400'),
  Decimal('19.14513600'),
  Decimal('10.45152600'),
  Decimal('19.14513600'),
  Decimal('14.55007200'),
  Decimal('12.56738000'),
  Decimal('19.14513600'),
  Decimal('14.55007200'),
  Decimal('9.50178500'),
  Decimal('-3.74922000'),
  Decimal('66.92368400'),
  Decimal('9.50178500'),
  Decimal('25.01360710'),
  Decimal('9.50178500'),
  Decimal('-3.74922000'),
  Decimal('9.50178500'),
  Decimal('-2.07278390'),
  Decimal('8.46894600'),
  Decimal('22.93750600'),
  Decimal('4.46993600'),
  Decimal('133.77513600'),
  Decimal('5.29126600'),
  Decimal('22.93750600'),
  Decimal('4.46993600'),
  Decimal('105.31875600'),
  Decimal('-95.71289100'),
  Decimal('15.20000010'),
  Decimal('10.45152600'),
  Decimal('105.31875600'),
  Decimal('10.45152600'),
  Decimal('10.45152600'),
  Decimal('10.45152600'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('12.56738000'),
  Decimal('2.21374900'),
  Decimal('18.64350100'),
  Decimal('2.21374900'),
  Decimal('5.29126600'),
  Decimal('2.21374900'),
  Decimal('5.29126600'),
  Decimal('5.29126600'),
  Decimal('5.29126600'),
  Decimal('8.46894600'),
  Decimal('10.45152600'),
  Decimal('14.99546300'),
  Decimal('5.29126600'),
  Decimal('5.29126600'),
  Decimal('10.45152600'),
  Decimal('4.46993600'),
  Decimal('4.46993600'),
  Decimal('4.46993600'),
  Decimal('4.46993600'),
  Decimal('19.14513600'),
  Decimal('10.45152600'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('25.01360710'),
  Decimal('5.29126600'),
  Decimal('2.21374900'),
  Decimal('5.29126600'),
  Decimal('10.45152600'),
  Decimal('14.55007200'),
  Decimal('40.48967300'),
  Decimal('24.60318900'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('4.46993600'),
  Decimal('2.21374900'),
  Decimal('-3.74922000'),
  Decimal('-3.74922000'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('2.21374900'),
  Decimal('4.46993600'),
  Decimal('4.46993600'),
  Decimal('5.29126600'),
  Decimal('2.21374900'),
  Decimal('12.56738000'),
  Decimal('174.88597100'),
  Decimal('4.46993600')],
 'final_ranking': [3.0,
  15.0,
  70.0,
  49.0,
  nan,
  58.0,
  128.0,
  1.0,
  nan,
  100.0,
  145.0,
  36.0,
  136.0,
  27.0,
  129.0,
  115.0,
  6.0,
  83.0,
  nan,
  55.0,
  nan,
  13.0,
  66.0,
  nan,
  nan,
  2.0,
  67.0,
  25.0,
  72.0,
  52.0,
  51.0,
  88.0,
  17.0,
  42.0,
  86.0,
  105.0,
  96.0,
  48.0,
  98.0,
  99.0,
  nan,
  109.0,
  125.0,
  24.0,
  22.0,
  102.0,
  60.0,
  18.0,
  29.0,
  121.0,
  118.0,
  108.0,
  117.0,
  nan,
  46.0,
  23.0,
  10.0,
  50.0,
  104.0,
  77.0,
  7.0,
  nan,
  62.0,
  14.0,
  nan,
  nan,
  20.0,
  107.0,
  53.0,
  90.0,
  28.0,
  32.0,
  8.0,
  69.0,
  40.0,
  138.0,
  114.0,
  126.0,
  106.0,
  133.0,
  33.0,
  nan,
  nan,
  nan,
  11.0,
  80.0,
  135.0,
  119.0,
  71.0,
  122.0,
  92.0,
  19.0,
  76.0,
  112.0,
  94.0,
  132.0,
  12.0,
  57.0,
  nan,
  56.0,
  16.0,
  68.0,
  nan,
  44.0,
  nan,
  84.0,
  110.0,
  nan,
  nan,
  59.0,
  143.0,
  75.0,
  9.0,
  79.0,
  nan,
  nan,
  61.0,
  nan,
  87.0,
  nan,
  141.0,
  34.0,
  144.0,
  127.0,
  74.0,
  38.0,
  134.0,
  41.0,
  5.0,
  31.0,
  nan,
  139.0,
  81.0,
  4.0,
  137.0,
  37.0,
  nan,
  nan,
  142.0,
  65.0,
  nan,
  103.0,
  nan,
  nan,
  30.0,
  89.0,
  39.0,
  93.0,
  140.0,
  120.0,
  73.0,
  nan,
  26.0,
  35.0,
  78.0,
  111.0,
  113.0,
  nan,
  82.0,
  63.0,
  124.0,
  130.0,
  43.0,
  47.0,
  45.0,
  85.0,
  101.0,
  116.0,
  21.0,
  54.0,
  131.0,
  64.0,
  91.0,
  95.0,
  97.0,
  123.0],
 'overall_speed': [40.21508315637532,
  40.01127676157941,
  39.015650115297916,
  39.24883362289418,
  nan,
  39.18839901765875,
  38.45732064981765,
  40.234397147745575,
  nan,
  38.71837418518293,
  38.140705424101775,
  39.45563546807696,
  38.39709720542364,
  39.68524452105717,
  38.45683026663096,
  38.580063321500525,
  40.17851790174854,
  38.87120264992847,
  nan,
  39.210562240380675,
  nan,
  40.056314457807325,
  39.06492362593059,
  nan,
  nan,
  40.219507641426404,
  39.04646307714716,
  39.83384404057481,
  38.988665634604885,
  39.241939261456785,
  39.242066912805164,
  38.818668588786494,
  39.937892928202764,
  39.30522838124469,
  38.82953898049768,
  38.68745630519976,
  38.74635456145535,
  39.26531329642324,
  38.740008799000634,
  38.73242149874783,
  nan,
  38.671829920371344,
  38.52007012009183,
  39.83555401456238,
  39.86267013405853,
  38.70918057930928,
  39.15672622815132,
  39.9217687412511,
  39.61929534168834,
  38.54493170381021,
  38.557374534157525,
  38.671829920371344,
  38.56366060040342,
  nan,
  39.28410933744944,
  39.8412111284314,
  40.119591208250334,
  39.24768439442888,
  38.69080645937235,
  38.92752154734284,
  40.173165939591726,
  nan,
  39.14668812710115,
  40.01472739394784,
  nan,
  nan,
  39.89496798772422,
  38.67406148815439,
  39.23543014372274,
  38.80380974437657,
  39.67676050084362,
  39.57640296832864,
  40.161396640233306,
  39.01804773918106,
  39.38247382630525,
  38.37914019476533,
  38.58549285773687,
  38.5163805406648,
  38.67592132471987,
  38.41237999713426,
  39.53710167441769,
  nan,
  nan,
  nan,
  40.10172026925954,
  38.891002288919694,
  38.39819716014527,
  38.556142212449345,
  39.000261863888966,
  38.54271501279581,
  38.799566449355304,
  39.915296297521756,
  38.93920711671175,
  38.593393093652224,
  38.7813557850881,
  38.41348082764946,
  40.07587560918082,
  39.20673920673921,
  nan,
  39.21005245948528,
  39.955618117082054,
  39.04343013602866,
  nan,
  39.296010006742826,
  nan,
  38.85805580876976,
  38.65324353248018,
  nan,
  nan,
  39.1839439245658,
  38.31879601806735,
  38.941218244617325,
  40.133071625802586,
  38.897272199651766,
  nan,
  nan,
  39.15418445010629,
  nan,
  38.82878910285915,
  nan,
  38.329875353873625,
  39.52246473197613,
  38.29933139036516,